#btn_ifcFilter {
    position: fixed;
    top: 160px;
    right: 100px;
    z-index: 100px;
}

#btn_ifcFilter:hover {
    cursor: pointer;
}

.filter-section {
    position: fixed;
    top: 220px;
    right: 100px;
    z-index: 100px;
    width: 140px;
    border-radius: 10px;
    padding: 5px;
    color: #f5f5f5;
    background-color: #262626;
}

.filter-dropdown {
}

.filter-block {
    padding: 5px;
}

.filter-block .title {
}

.filter-options {
    padding: 5px;
}
